body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


img{
    max-width: 100%;
    height: 100%;
}

.navbar{
    z-index: 1000;
    width: 100%;
    padding: 0;
    position: fixed;  /*fija la barra*/
}

.navbar-toggler .navbar-toggler-icon{
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.imagen-fondo{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

/* --- Títulos ---*/
#sobre_mi h3, .experience h3, .proyects h3, .contact h3{
    text-shadow: 1px 1px 9px #072E33;
    font-family:'Style Script', cursive;
    font-size: 80px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 6px;
    font-weight: bold;
}

 /* ----------------------------- PAGINA PRINCIPAL --------------------------- */

.container_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 10px;
    height: 100vh;
    width: 100%;
}


.titulo{
    font-size: 5.069em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 9px #163131;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;
}

.subtitulo{
    font-size: 2.18em;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    letter-spacing: 2.5px;
    text-shadow: 1px 2px 3px #174747;
    padding-top: 8px;
    margin: 0;
}

/* ---- Logo --- */
.navbar-brand{ 
    max-width: 6%;
    display: block;
    margin-left: 1%;
    margin-right: 0;
    padding: 0;
}

/* ---- Encabezado ----*/

.container-fluid{
    background-color: #75a0a1;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* espacio entre logo y categorias de encabezado*/
    align-items: center;   /*alinea verticalmente el logo y las categorias*/
}

.collapse{
    display: flex;
    justify-content: center;
    text-align: center; /*centra las categorias de encabezado horizontalmente*/
}

.navbar-nav {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.nav-item {
    display: inline-block;
    padding: 15px;
}

.nav-link{
    font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
}


.navbar .navbar-nav .nav-item .nav-link:hover{
 color: #185555;
}


/* ------------------------------ SOBRE MI ----------------------------- */

.container_about{
    display: flex;
    flex-direction: row;  /* alinea elementos en fila */
    justify-content: space-between;  /* Espacia elementos a lo largo del eje vertical */
    box-sizing: border-box;
    align-items: center; /* Alinea elementos verticalmente */
    min-height: 100vh;
    width: 100%;
}

#sobre_mi{
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: white;
    margin-left: 12%;
    margin-top: 0;
    max-width: 48%;
}


#sobre_mi h4{
    font-family:'Prata', serif;
    font-size: 35px;
    letter-spacing: 1.1px;
    margin: 0;
    text-shadow: 1px 1px 9px #0e3035;
    padding-bottom: 5%;
}

#sobre_mi p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 1.1px;
    max-width: 100%;
    text-shadow: 1px 1px 1px #174747;
    margin: 0;
}

#profilephoto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}

 #profilephoto img{
    width: 65%;
    border-radius: 50%;
    z-index: 1;
    margin-right: 12%;
    margin-left: 0;
    box-shadow: 3px 1px 15px #287774;
}


/* -------------------------------- EXPERIENCIA ------------------------------- */

.experience_container {  
    display: flex; 
    flex-wrap: wrap;                 
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center; 
    min-height: 100vh;
    width: 100%;   
    padding: 10px;
}


.experience{
    flex: 1;
    flex-direction: column;
    z-index: 1;
    color: white;
    margin-left: 12%;
    margin-top: 0;
    max-width: 50%;
}

.experience h3{
    margin-bottom: 3%;
    margin-top: 5%;
}

.experience h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 1.1px;
    padding-top: 3%;
    padding-bottom: 5%;

}

.experience p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-bottom: 2px #0c6b5e solid;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
}


.download-button{
    padding: 10px 20px;
    font-family: 'Prata', serif;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    background-color:  #072E33;
    border: #1ec0c0;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    width: 35%;
    display: inline-block;
}

.download-button:hover{
    color: #78b5d3;
    background-color: #05161A;
}

.skills {
    flex: 1;
    margin-right: 10%;
    margin-left: 4%;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    width: 50%
}

.skills h4{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 1.1px;
    border-bottom: 3px #0c6b5e solid;
    display: inline;
    text-shadow: 2px 2px 6px #0a434b;
}

.skills .software p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5%;
    margin-bottom: 7%;
    padding: 6px;
    background-color: #23a78691;
    border-radius: 3px;
    justify-content: center;
}


.skills p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 5%;
}

#competencias{
    color: #26b8a4;
}

/* ----------------- PROYECTOS ---------------*/

.container_proyects{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
}

.proyects{
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
        color: white;
        align-items: center;
        justify-items: center;
        text-align: center;
        margin: auto;
        width: 100%;
}

.proyects h3{
    margin-left: 12%;
    margin-top: 5%;

}

.proyects h4{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 1.1px;
    text-shadow: 1px 1px 1px #174747;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.proyectos{
    flex-wrap: wrap;
    margin-right: 12%;
    margin-left: 12%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea tres columnas iguales */
    gap: 10px; /* Espacio entre las imágenes */
    width: 100%; /* Asegura que ocupe el 100% del contenedor */
    justify-content: center;     
    align-items: center;
    text-align: center;
} 

.proyectos img{     
    width: 100%;  /*agregue - imagenes ocupan 30% del ancho*/    
    height: auto;
    padding: 10px;
    cursor: pointer;
}

/* -------------------------- CONTACTO -------------------*/

.contact_container {  
    display: flex;
    flex-wrap: wrap;             
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;   
    padding: 10px;
}

.contact{
    color: white;
    z-index: 1;
    margin-left: 12%;
    margin-top: 3%;
    width: 100%;
}

.contact h3{
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}


form label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

form input{
    width: 30%;
    padding: 13px;
    margin-bottom: 3%;
    border-radius: 4px;
    background-color: rgba(252, 255, 255, 0.856);
    border: #185555;
    font-size: 16px;
    box-sizing: border-box;
}

form textarea{
    width: 50%;
    padding: 15px;
    margin-bottom: 4%;
    background-color: rgba(252, 255, 255, 0.856);
    border: #185555;
    font-size: 16px;
}

#boton{
background-color: #072E33;
color: rgba(252, 255, 255, 0.856);
border: 2px solid transparent;
font-family: 'Prata', serif;
font-size: 20px;
cursor: pointer;
transition: border 0.3s ease;
padding: 10px;
}

#boton:hover{
    background-color: #05161A;
    color: #78b5d3;
}

/*
.redes {
    display: flex; 
    justify-content: center; 
    margin-right: 5%;
    padding-bottom: 3%;
    z-index: 1;
  }

  .redes a {
    margin: 0 10px; 
  }
  
  .redes img {
    width: 24px;
    height: auto; 
    cursor: pointer;
    vertical-align: middle; 
  } */


/* ---------------- MEDIA QUERYS ----------------*/

/* ---- Celulares ----*/

@media (max-width: 767px){
    .titulo{
        font-size: 2.875em;
    }
    
    .subtitulo{
        font-size: 1.25em;
    }

    .navbar-brand{ 
        max-width: 10%;
    }

    #sobre_mi h3, .experience h3, .proyects h3, .contact h3{
        font-size: 60px;
        margin-left: 0;
    }

    .container_about{
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    #sobre_mi{
     margin-left: 0;
     margin-right: 0;
     max-width: 85%;
    }

    #sobre_mi h4{
        font-size: 23px;
    }

    #sobre_mi p{
        font-size: 13px;
    }

    #profilephoto img{
        margin-right: 0;
        width: 80%;
        margin-top: 15px;
    }

    .experience_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        
    .experience {
        align-items: center;
        text-align: center;
        margin-left: 0;
        max-width: 85%;
    }
        
    .experience h4{
        width: 100%;
        margin-bottom: 1em;
    }
    
    .skills {
        flex-direction: column;
        width: 85%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        text-align: center;
        }

    .skills h4{
        font-size: 18px;
    }

    .proyects{
        margin-right: 0;
        justify-content: center;
    }

    .proyects h4{
        margin-top: 10%;
        font-size: 15px;
    }


    .proyectos {
         grid-template-columns: 1fr;
        }

          
    .contact{
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    form{
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center; 
    }

    form input, form textarea{
        width: 80%;
    }

    #boton{
        width: 50%;
    }
    
}

    /* ------- Tablets -------- */

    @media (min-width: 768px) and (max-width: 991px){
        .titulo {
            font-size: 4em;
        }
    
        .subtitulo {
            font-size: 1.6em;
        }
    
        .navbar-brand {
            max-width: 10%;
        }
    
        #sobre_mi h4, .experience h4, .proyectos h4, .contact h4 {
            font-size: 1.5em;
        }
    
        #sobre_mi p, .experience p, .proyectos p, .contact p {
            font-size: 1.1em;
        }
    
        #profilephoto img {
            width: 70%;
        }
    
        .experience, .container_about, .container_proyects, .contact_container {
            padding: 20px;
        }
    
        .proyectos {
            grid-template-columns: repeat(2, 1fr); /* Dos columnas */
            gap: 10px;
        }
    
        form input, form textarea {
            width: 90%;
            padding: 12px;
        }
    
        .download-button {
            font-size: 1em;
            padding: 10px 20px;
        }
    }
